body{
    width: 95%;
    margin: 1em auto;
    font-family: 'Work Sans', sans-serif;
}

*{
     box-sizing: border-box;
 }

nav{
    background-color: lightgrey;
    max-height: 20em;
}

.nav-list{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-item{
    padding: .5em;
    display: flex;
    align-items: center;
}


a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}

#nav-left{
    margin-right: auto;
}

#nav-right{
    margin-left: auto;
}

#logo{
    font-size: 1.5em;
    padding: .2em 0;
    font-family: 'Montserrat', sans-serif;
    margin-right: 3em;
    /*position:absolute;*/
    /*left: 22em;*/
    /*top: -1em;*/
}

footer{
    width: 100%;
    height: 300px;
    background-color: black;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

section{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

div{
    margin: auto;
}

footer ul{
    list-style: none;
    display: flex;
    margin-right: 2.5em;
    color: #fff;
}

footer li{
    padding: 0 .5em;
}

footer li:hover{
    color: deepskyblue;
}

footer h6{
    margin-left: 2em;
    /*margin-top: em;*/
}

button{
    padding: 1em;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid deepskyblue;
}

button:hover{
    background-color: deepskyblue;
    color: #fff;
    border: 1px solid white;
}

span{
    color: deepskyblue;
}

span:hover{
    color: #fff;
    background-color: deepskyblue;
    border-radius: 20px;
    padding: 0 .5em;
}
