body{
    margin:  auto;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}

*{
     box-sizing: border-box;
 }

nav{
    background-color: lightgrey;
    border-bottom: 1px solid deepskyblue;
}

.nav-list{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-item{
    padding: 0 .5em;
    display: flex;
    align-items: center;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

a:hover{
    color: deepskyblue;
}

#nav-left{
    margin-right: auto;
}

#nav-right{
    margin-left: auto;
}

#logo{
    font-size: 1.5em;
    padding: .2em 0;
    font-family: 'Montserrat', sans-serif;
    margin-right: 3em;
    /*position:absolute;*/
    /*left: 22em;*/
    /*top: -1em;*/
}

hr{
    /*border-bottom: 3px solid deepskyblue;*/
}

/*Cards*/
main{
    margin: 1em 0;
    width: 100%;
    /*height: 1000px;*/
    display: flex;
    justify-content: center;
}

.card{
    width: 400px;
    height: 650px;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

card section{
   margin: auto;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    border: 2px solid deepskyblue;
}

img:hover{
    width: 400px;
    height: 400px;
}

section p{
    text-align: center;
}

.card-button{
    background-color: deepskyblue;
    color: white;
    font-size: 1em;
    border-radius: 50px;
}

.card-button:hover{
    color: deepskyblue;
    background: #fff;
    border: 1px solid deepskyblue;
}

/*End Cards*/

footer{
    width: 100%;
    background-color: black;
    color: #fff;
}

.footer-section{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

div{
    margin: auto;
}

footer ul{
    list-style: none;
    display: flex;
    margin-right: 2.5em;
    color: #fff;
}

footer li{
    padding: 0 .5em;
}

footer li:hover{
    color: deepskyblue;
}

footer h6{
    margin-left: 2em;
    /*margin-top: em;*/
}

button{
    padding: 1em;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid deepskyblue;
}

button:hover{
    background-color: deepskyblue;
    color: #fff;
    border: 1px solid white;
}

span{
    color: deepskyblue;
}

span:hover{
    color: #fff;
    background-color: deepskyblue;
    border-radius: 20px;
    padding: 0 .5em;
}
